{{ form_row(serializedDataForm.title) }}

{% if cmsContent.serializedData.images is defined %}
    {% for index, image in cmsContent.serializedData.images %}
        <label>
            <h4>{{ image }}</h4>
            <img src="{{ cms_file_path(image) }}" /><br />
            <input type="checkbox" name="rocket_cmsbundle_imagelisttype[remove_images][]" value="{{ index }}"/>
            {{ 'cmscontent.edit.form.remove'|trans }}
        </label>
        <br />
    {% endfor %}
{% endif %}

{{ form_widget(serializedDataForm.images) }}
{{ form_widget(serializedDataForm.image_files) }}

<button type="button" class="btn" id="cmsbundle-imagelist-add">
    <i class="icon fa-icon-plus"></i>
    {{ 'cmscontent.edit.form.image_list.add_image'|trans }}
</button>

<button type="button" class="btn" id="cmsbundle-imagelist-remove">
    <i class="icon fa-icon-minus"></i>
    {{ 'cmscontent.edit.form.image_list.remove_image'|trans }}
</button>
