{% extends cms_backend_template %}

{% block title %}{{ parent() }} :: {{ 'rocket.cms.type.title.index'|trans }}{% endblock %}

{% block content %}
    <div class="row-fluid sortable">
        <div class="box span12">
            <div class="box-header">
                <h2><i class="halflings-icon align-justify"></i><span class="break"></span>{{ 'rocket.cms.type.title.index'|trans }}</h2>
            </div>
            <div class="box-content">
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>{{ 'rocket.cms.type.id'|trans }}</th>
                            <th>{{ 'rocket.cms.type.class'|trans }}</th>
                            <th>{{ 'rocket.cms.type.created_at'|trans }}</th>
                            <th>{{ 'rocket.cms.type.updated_at'|trans }}</th>
                            <th>{{ 'rocket.cms.global.actions'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td>{{ entity.id }}</td>
                            <td>{{ entity.class }}</td>
                            <td>{{ entity.createdAt.format('Y-m-d H:i:s') }}</td>
                            <td>{{ entity.updatedAt.format('Y-m-d H:i:s') }}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('rocket_cms_cmstype_show', { 'id': entity.id }) }}">{{ 'rocket.cms.global.show'|trans }}</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('rocket_cms_cmstype_edit', { 'id': entity.id }) }}">{{ 'rocket.cms.global.edit'|trans }}</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="btn-overlay">
                    <a class="btn btn-primary" href="{{ path('rocket_cms_cmstype_new') }}">{{ 'rocket.cms.global.new'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
